

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;

  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  position: absolute;
  z-index: 1;

}
.header__title{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 730px;
  left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0 0 0 64px;
}
.header__subtitle{
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;

}

.header__main-illustration{
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 3;
  border: solid pink 1px;

}

.header__logo {
   /* Если нужно, убедитесь, что элемент отображается */
    /* Центрирование логотипа */
  left: 64px;
  top: 30px;
  width: 228px;
  height: 32px;
  position: absolute;
}

.logo {
  width: 150px; /* Задайте размер логотипа */
  height: auto; /* Сохранение пропорций */
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}



/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

div{
  border: solid #2f80ed 2px;
}

.description{
  margin: 100px 0 100px;

}


.description__two_columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;

  
}
.description__two_columns_brief{
  display: flex;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  align-items: center;
  color:#2f80ed;


}

.description__two_columns_main-text{
  width: 80%;
  min-width: 784px;
  
}
.description__two_columns-span{
  font-weight: 600;
  
}


